<div class="container">
  <h1>Artikel Erstellen</h1>
  <form (ngSubmit)="submitBlogForm()" #blogForm="ngForm" enctype="multipart/form-data">
    <label for="image">Bild hochladen:</label>
    <div class="drop-area" (click)="fileInput.click()">
      <p>Bild hierher ziehen oder klicken, um auszuwählen (Optional)</p>
      <input type="file" id="image" #fileInput (change)="onFileSelected($event)" class="file-input" accept="image/*">
      <div class="image-preview-container">
        <img *ngIf="previewImage" [src]="previewImage" alt="Vorschaubild" class="preview-image">
      </div>
      <button *ngIf="previewImage" class="remove-image-button" (click)="removeImage()">Bild entfernen</button>
    </div>
    <p *ngIf="fileName" class="file-name">{{ fileName }}</p>

    <label for="title">Überschrift (max. 100 Zeichen, mindestens 10 Zeichen):</label>
    <input type="text" id="title" name="title" [(ngModel)]="blog.title" required #title="ngModel" minlength="10" maxlength="100">
    <div class="titleCount">{{ 100 - blog.title.length }} Zeichen frei</div>

    <label for="content">Inhalt (max. 2500 Zeichen, mindestens 20 Zeichen):</label>
    <textarea id="content" name="content" [(ngModel)]="blog.content" required minlength="20" maxlength="2500"></textarea>
    <div class="contentCount">{{ 2500 - blog.content.length }} Zeichen frei</div>

    <label for="category">Kategorie hinzufügen:</label>
    <input type="text" id="category" [(ngModel)]="newCategory" (keyup.enter)="addCategory()" class="category-input">
    <button type="button" class="add-category-button" (click)="addCategory()">Hinzufügen</button>

    <ul class="categories-list">
      <li *ngFor="let category of categories; let i = index">
        {{ category }}
        <button (click)="removeCategory(i)">Löschen</button>
      </li>
    </ul>

    <input type="hidden" name="categories" [(ngModel)]="categoriesJson">

    <button type="submit" class="submit-button" [disabled]="!blogForm.valid">Blog Post erstellen</button>
  </form>
</div>
